/* Style */
/*ini index*/
body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img/gambar.png.png);
    color: #333;
}

.header ul li {
    display: inline-block;
    margin-right: 10px;
    border-style: solid;
}

.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

.header {
    padding: 10px;
}

.header .judul {
    font-size: 33px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header a {
    text-decoration: none;
    color: tomato;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 300px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position-y: -100px;
    border-top: 5px solid violet;
    border-bottom: 5px solid red;
}

.content h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content p {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.jud h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jud img {
    float: left;
}

.jud p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.jid h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jid img {
    width: 500px;
    height: 350px;
}

.jid li {
    font-family: cursive;
}

.jad h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.jad img {
    width: 400px;
    height: 300px;
}


.jad li {
    font-family: cursive;
}

.jod h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#rig {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    list-style: none;
    background-color: none;
    display: flex;
    flex: 4;
}

#rig li {
    display: inline-block;
    display: inline;
    width: 25%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.rig-cell {
    margin: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 16px;
    border: none;
    color: #555;
    background-color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}

.rig-cell h3 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: normal;
}

.rig-img1 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url(img/a.jpg);
    background-repeat: no-repeat;
}

.rig-img2 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url(img/b.jpg);
    background-repeat: no-repeat;
}

.rig-img3 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url(img/c.jpg);
    background-repeat: no-repeat;
}

.rig-img4 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url(img/d.jpg);
    background-repeat: no-repeat;
}

.rig-img5 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url(img/e.jpg);
    background-repeat: no-repeat;
}

.rig-img6 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url(img/f.jpg);
    background-repeat: no-repeat;
}

.rig-img7 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url(img/g.jpg);
    background-repeat: no-repeat;
}

.rig-img8 {
    display: block;
    border: none;
    width: 100%;
    height: 0;
    padding-top: 83.461538%;
    background-size: cover;
    background-color: white;
    background-image: url(img/h.jpg);
    background-repeat: no-repeat;
}

.rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: white;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.3s;
}

#rig li:hover .rig-overlay {
    opacity: 0.5;
}

@media(max-widht:400) {
    .container{
        background-color: aqua;
        max-width: 150px;

    }
    #rig li {
        width: 25%;
    }
}

@media(max-widht:800px) {
    #rig li {
        width: 33.33%;
    }
}

@media(max-widht:500px) {
    #rig li {
        width: 50%;
    }
}

@media(max-widht:350px) {
    #rig li {
        width: 100%;
    }
}

/*ini footer*/
.footer-content {
    width: 100%;
    height: 400px;
    background: #454545;
    position: relative;
}

.footer-bottom {
    width: 100%;
    height: 20px;
    color: #adadad;
    background: black;
    text-align: center;
}

.footer-content .content-about,
.footer-content .content-ini {
    width: 30%;
    height: 400px;
    position: absolute;
}

.footer-content .content-about h2 {
    font-family: sans-serif;
    color: orange;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
}

.footer-content .content-about p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: small;
}

.footer-content .content-ini {
    margin-left: 500px;
}

.footer-content .content-ini h2 {
    color: orange;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
}

.footer-content .content-ini p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: small;
}